---
title: Koboo Table
subtitle: コブータブル
---

- items_path = 'data/items.json'
.panel.panel-default
  p.pull-right
    | データ： 
    = link_to File.basename(items_path), items_path
  .panel-body
    h4 フィルタ
    dl
      dt 戦闘力
      dd
        label.radio-inline
          input type="radio" name="power" checked="checked" data-koboo-filter="power" data-koboo-filter-gte="1" 全て
        label.radio-inline
          input type="radio" name="power" data-koboo-filter="power" data-koboo-filter-gte="1" data-koboo-filter-lt="100000" 10万未満
        label.radio-inline
          input type="radio" name="power" data-koboo-filter="power" data-koboo-filter-gte="100000"  data-koboo-filter-lt="200000" 10万以上20万未満
        label.radio-inline
          input type="radio" name="power" data-koboo-filter="power" data-koboo-filter-gte="200000"  20万以上
      dt 特技
      dd
        label.checkbox-inline
          input type="checkbox" data-koboo-filter="skill" かめはめ波
        label.checkbox-inline
          input type="checkbox" data-koboo-filter="skill" data-koboo-filter-text="^かめはめ波$" かめはめ波（完全一致）
        label.checkbox-inline
          input type="checkbox" data-koboo-filter="skill" 魔
      dt 種族
      dd
        label.radio-inline
          input type="radio" name="race" checked="checked" data-koboo-filter="race" data-koboo-filter-text="." 全て
        label.radio-inline
          input type="radio" name="race" data-koboo-filter="race" 地球人
        label.radio-inline
          input type="radio" name="race" data-koboo-filter="race" 宇宙人
    h4 一覧
    table.table.table-bordered.table-condensed.table-hover data-koboo-items=items_path
      thead
        tr
          th data-koboo-sort="label"
            | 名前
          th data-koboo-sort="height"
            | 身長
          th data-koboo-sort="weight"
            | 体重
          th data-koboo-sort="power"
            | 戦闘力
          th data-koboo-sort="skill"
            | 特技
          th data-koboo-sort="race"
            | 種族
          th data-koboo-sort="olfaction"
            | 嗅覚
      tbody data-bind="foreach: items"
        tr
          td
            a data-bind="attr: { href: url }"
              img data-bind="attr: { src: image_url }"
              br
              span data-bind="text: label"
          td.text-right data-bind="text: height.toFixed(1)"
          td.text-right data-bind="text: weight.toFixed(1)"
          td.text-right data-bind="text: power"
          td data-bind="text: skill"
          td data-bind="text: race"
          td.text-right data-bind="text: (typeof olfaction === 'number') ? olfaction.toFixed(1) : olfaction"
